body{
    background: URL(/images/back.jpg);
    background-size: cover;
    font: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 350px;
}

.nav {   
    font-size: 20px;
    /*text-transform: uppercase;*/
}

.nav_link{
    color: #fff;
    text-decoration: none;
    
    margin: 0 40px;
    
    transition: color .2s linear;
}

.nav_link:hover {
    color: aqua;
}

.textPicture{
    display: inline-block;
    position: relative;
    margin-top: 150px;
}

.textPicture form{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 280px;
}

.textPicture input{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.textPicture button{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 60px;
}

.textPicture a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.textPicture b{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}